<app-header></app-header>
<div class="layout flex flex-col space-y-5">
  <div class="flex justify-end md:justify-between items-center">
    <div class="md:flex items-center py-4 overflow-x-auto whitespace-nowrap hidden">
      <a href="#" class="text-gray-600 dark:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
      </a>

      <span class="mx-1 text-gray-500 dark:text-gray-300">
        /
    </span>

      <a href="#" class="text-gray-600 dark:text-gray-200 hover:underline">
        Account
      </a>

      <span class="mx-1 text-gray-500 dark:text-gray-300">
        /
    </span>

      <a href="#" class="text-gray-600 dark:text-gray-200 hover:underline">
        Profile
      </a>

      <span class="mx-1 text-gray-500 dark:text-gray-300">
        /
    </span>

      <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">
        Settings
      </a>
    </div>

    <div class="space-x-2">
      <button mat-icon-button [matTooltipPosition]="'before'" matTooltip="Save" class="flex justify-center stroke-amber-400 text-gray-50">
        <mat-icon>favorite_outline</mat-icon>
      </button>
      <button mat-icon-button [matTooltipPosition]="'above'" matTooltip="Compare" class="flex justify-center stroke-amber-400 text-gray-50">
        <mat-icon>compare_outline</mat-icon>
      </button>
      <button mat-icon-button [matTooltipPosition]="'below'" matTooltip="Share" class="flex justify-center stroke-amber-400 text-gray-50">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button [matTooltipPosition]="'above'" matTooltip="Print" class="flex justify-center stroke-amber-400 text-gray-50">
        <mat-icon>print_outline</mat-icon>
      </button>
    </div>
  </div>


  <div class="grid rounded-2xl gap-2 w-full overflow-hidden grid-cols-4">
    <div class="col-span-2 overflow-hidden">
      <img src="images/1.png" alt="" class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-125">
    </div>
    <div class="overflow-hidden flex flex-col gap-2">
      <div class="overflow-hidden">
        <img src="images/2.png" alt="" class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-125">
      </div>
      <div class="overflow-hidden">
        <img src="images/3.png" alt="" class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-125">
      </div>
    </div>

    <div class="overflow-hidden flex flex-col gap-2">
      <div class="overflow-hidden">
        <img src="images/4.png" alt="" class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-125">
      </div>
      <div class="overflow-hidden">
        <img src="images/5.png" alt="" class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-125">
      </div>
    </div>

  </div>


  <div class="layout grid grid-cols-7 gap-7 mt-5 text-gray-700">
    <div class="col-span-7 md:col-span-5 space-y-10">
      <div class="flex flex-col md:flex-row md:justify-between mb">
        <div class="flex flex-col space-y-2">
          <h1 class="text-2xl font-semibold">New Apartment Nice Wiew</h1>
          <p class="flex items-center font-light">
            <mat-icon>location_on_outline</mat-icon>
            <span> 42 Avenue O, Brooklyn</span>
          </p>
        </div>
        <div class="flex flex-col space-y-2">
          <p class="flex items-center font-light">
            $2 / sqft
          </p>
          <span class="flex items-end">
            <h1 class="text-2xl font-semibold">$850</h1>
            <p> / month</p>
          </span>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>apartment_outline</mat-icon>
          <span>Apartment</span>
        </div>

        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>construction_outline</mat-icon>
          <span>Build In 2024</span>
        </div>

        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>square_foot_outline</mat-icon>
          <span>410 Sq Ft</span>
        </div>

        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>bed_outline</mat-icon>
          <span>4 Bedrooms</span>
        </div>

        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>bed</mat-icon>
          <span>1 Bathroom</span>
        </div>

        <div class="w-full p-5 rounded-xl bg-gray-100 bg-opacity-60 flex items-center space-x-2">
          <mat-icon>garage</mat-icon>
          <span>1 Garage</span>
        </div>
      </div>

      <div class="space-y-6 pt-10">
        <h2 class="font-semibold text-xl">Description</h2>
        <p>Lorem ipsum dolor sit Corporis culpa ea eos est eveniet illo itaque laboriosam minima  amet, consectetur adipisicing elit. Accusantium autem blanditiis consequuntur culpa cumque dolor ducimus eligendi fugit, inventore laboriosam magni nemo nisi quas, quia quo quod, sed sint sunt?</p>
        <p> blanditiis consequuntur culpa cumque dolor ducimus eligendi molestiae neque obcaecati odit quibusdam repellendus similique, ut vel voluptatem voluptatibus? Quidem. fugit, inventore laboriosam magni nemo nisi quas, quia quo quod, sed sint sunt?</p>
      </div>

      <div class="space-y-6 pt-10">
        <h2 class="font-semibold text-xl">Details</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-4">

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Lot area (sqrt)</p>
            <p>460</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Home area (sqrt)</p>
            <p>410</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Lot dimensions</p>
            <p>15x25</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Rooms</p>
            <p>6</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Beds</p>
            <p>4</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Bath</p>
            <p>1</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Garage</p>
            <p>1</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Price ($)</p>
            <p>850</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Year buiil</p>
            <p>2024</p>
          </div>

          <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <p class="font-medium">Status</p>
            <p>For Rent</p>
          </div>

        </div>
      </div>

      <div class="space-y-6 pt-10">
        <h2 class="font-semibold text-xl">Facts & Features</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-x-5 gap-y-4">


          @for(feature of features; track $index){
            <div class="flex items-center gap-2">
              <mat-icon>check_circle_outline</mat-icon>
              <p>{{feature}}</p>
            </div>
          }


        </div>
      </div>
    </div>

    <div class="col-span-7 md:col-span-2">
      <div class="border border-gray-400 rounded-2xl p-5 flex flex-col text-center space-y-4">
        <h3>
          Request a tour as early as
        </h3>
        <button mat-flat-button class="flex justify-center stroke-amber-400 text-gray-50">
          <span>Schedule a Tour</span>
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
        <button mat-stroked-button class="flex justify-center stroke-amber-400 text-gray-50">
          <span>Chat via Whatsapp</span>
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>


</div>
<div class="">
  <app-footer></app-footer>
</div>
